<!DOCTYPE html>
<html>
  <head>
    <title>wtfnote</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/open-iconic.css">
    <link rel="stylesheet" href="fonts/Typewriter/cmun-typewriter.css">
    <link rel="stylesheet" href="css/asciinema-player.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  </head>

  <body>
    <div id="app" class="container-fluid">

        <div class="modal fade open" v-show="modal.visible">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" v-html="modal.body"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" v-on:click="store.dispatch('CLOSE_MODAL')">Cancel</button>
                        <button class="btn btn-danger" v-on:click="store.dispatch('CONFIRM_MODAL')">Confirm</button>
                    </div>
                </div>
            </div>
        </div>


        <!--
        <div class="modal attachment fade open" v-show="attachmentWindowVisible">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <span class="oi" data-glyph="x" v-on:click="hideAttachmentWindow()"></span>
              </div>
              <div class="modal-body">
                <ul v-for="(uri, index) in selectedNote.attachments">
                  <li>
                    <a v-bind:href="uri" target="_blank" class="uri">{{ uri.split('/').slice(-1)[0] }}</a>
                    <span class="oi delete" data-glyph="x" style="float: right" v-on:click="deleteAttachment(index)"></span>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <form action="./upload" enctype="multipart/form-data" method="post">
                  <div class="row">
                    <div class="col-6">
                      <input type="hidden" name="note_id" v-bind:value="selectedNote.id">
                      <input type="file" name="file" style="width: 100%">
                    </div>
                    <div class="col-6 text-right">
                      <input type="submit" class="btn btn-warning" value="Upload">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        -->


        <div class="row">

          <div class="col left">
            <div class="row search">
              <div class="col-12">
                <input type="text" class="form-control"
                       v-on:input="e => store.dispatch('SEARCH', e.target.value)"
                       placeholder="Search">
                <span class="search-hint" v-on:click="store.dispatch('MODAL_INFO', getSearchUsage)">?</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="list-group">
                  <li v-for="note in store.state.notes"
                      v-show="note.visible"
                      v-on:click="store.dispatch('SELECT_NOTE', note)"
                      class="list-group-item"
                      v-bind:class="{ focused: selection.id == note.id }">
                    <h2>
                      <span class="oi" data-glyph="bolt"
                            v-bind:style="{ opacity: note.isPinned ? 1 : 0 }"></span>
                      {{ getNoteTitlePreview(note) }}
                    </h2>
                    <p>{{ getNoteBodyPreview(note) }}</p>
                    <div class="badges">
                      <span v-for="tag in note.tags" class="badge">{{ tag }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col right">
            <div class="row status-bar">
              <div class="col-4 button-bar">
                <button type="button" class="btn btn-info"
                        v-on:click="store.dispatch('CREATE_NOTE')">
                  <span class="oi" data-glyph="plus"></span>
                </button>
                <!-- <button type="button" class="btn" v-on:click="showAttachmentWindow()"
                                               v-bind:class="{ 'btn-warning': selectedNote.hasAttachment, 'btn-light': !selectedNote.hasAttachment }" v-if="!isEmpty">
                  <span class="oi" data-glyph="paperclip"></span>
                </button> -->
                <button type="button" class="btn" v-on:click="store.dispatch('TOGGLE_PIN_SELECTED_NOTE')"
                        v-bind:class="{ 'btn-success': selection.isPinned, 'btn-light': !selection.isPinned }"
                        v-if="hasSelection">
                  <span class="oi" data-glyph="bolt"></span>
                </button>
                <button type="button" class="btn btn-light" id="info-button"
                        v-if="hasSelection">
                  <span class="oi" data-glyph="info"></span>
                </button>
                <div class="info-window">
                  Created {{ selection.createdAt }}
                </div>
                <button type="button" class="btn"
                        v-bind:class="{ 'btn-warning': isVersioning, 'btn-light': !isVersioning }"
                        v-on:click="store.dispatch('TOGGLE_VERSIONING')"
                        v-if="hasSelection">
                  <span class="oi" data-glyph="timer"></span>
                </button>
                <button type="button" class="btn btn-danger"
                          v-on:click="store.dispatch('MODAL_WARN', getDeleteWarning)"
                        v-if="hasSelection">
                  <span class="oi" data-glyph="trash"></span>
                </button>
              </div>
              <div class="col-4 text-center button-bar">
                <button type='button' class='btn'
                        v-bind:class="{ 'btn-info': isEditing, 'btn-light': !isEditing }"
                        v-on:click="store.dispatch('EDIT_SELECTED_NOTE')">
                  <span class="oi" data-glyph="pencil"></span>
                </button>
                <button type="button" class="btn"
                        v-bind:class="{ 'btn-info': !isEditing, 'btn-light': isEditing }"
                        v-on:click="store.dispatch('VIEW_SELECTED_NOTE')">
                  <span class="oi" data-glyph="eye"></span>
                </button>
                <div class="saving-msg" v-show="saving">
                  Saving...
                </div>
                <div class="saving-msg" v-if="lastSaved.length > 0">
                  Last saved {{ lastSaved }}
                </div>
              </div>
              <div class="col-4 text-right links">
                <div>
                  <a href="./settings">Settings</a>
                  <a href="./logout">Logout</a>
                </div>
              </div>
            </div>

            <div class="row edit-view" v-show="isEditing">
              <div class="row versioning" v-show="isVersioning" style="display: none">
                <div class="col-4 text-right label">
                  {{ selectionVersion.createdAt }}
                  ({{ parseInt(versionNumber) + 1 }}/{{ selection.versions.length }})
                </div>
                <div class="col-4">
                  <input type="range" min="0" class="form-control"
                         v-bind:max="selection.versions.length-1"
                         v-bind:value="versionNumber"
                         v-on:input="e => store.dispatch('CHANGE_VERSION', e.target.value)"
                         class="form-control">
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-danger"
                           v-on:click="store.dispatch('MODAL_WARN', getRestoreWarning)">
                    Restore
                  </button>
                </div>
              </div>

              <input type="text" class="form-control title"
                     v-model="selection.title"
                     v-on:input="store.dispatch('SAVE_TITLE')"
                     :disabled="saving"
                     placeholder="Title">
              <input type="text" class="form-control tags" placeholder="Tags"
                     v-on:input="(e) => { updateSelectedTag(e); store.dispatch('SAVE_TAGS'); }"
                     :disabled="saving"
                     v-bind:value="selection.tags.join(', ')">
              <div class="content-editor">
                <textarea class="form-control"
                     v-bind:value="store.state.selectedNote.selectedNote.body"
                     :disabled="saving"
                     v-on:input="(e) => store.dispatch('SAVE_BODY', e.target.value)"></textarea>
              </div>
            </div>

            <div class="row preview-view" v-show="!isEditing">
              <h1><span>{{ selection.title }}</span></h1>
              <div class="preview-area">
                <div v-html="selection.html"></div>
              </div>
            </div>

          </div>
        </div>

    </div>

    <script type="text/plain" id="searchUsage">
        A search query is a disjunction of multiple expressions, expressed as such:<br>
        <center> <em>expr1</em> ; ... ; <em>exprN</em> </center>
        The operator <em>;</em> is equivalent to the logical OR. Each expression
        is a conjunction of tokens. Each token can be negated, and its domain
        can be restricted. In general a token has one of the following shapes:<br>
        <center>tag:<em>val</em> | title:<em>val</em> | <em>val</em></center>
        where <em>val</em> is a string without any whitespaces. A token can be
        negated by prefixing it with ~. An expression is made up of tokens seperated
        by whitespace. All searches are case insensitive.<br><br>

        <center><strong>tag:music ~tag:jazz ~tag:hiphop<strong></center>
        will list all the notes with the tag 'music' and without the tags 'jazz',
        and 'hiphop'.<br><br>

        <center><strong>title:story ; title:novel tag:short</strong></center>
        will list all the notes that have 'story' in their title, or those with
        'novel' in their title and tagged with 'short'.<br><br>

        <center><strong>~politics</strong></center>
        will list all the notes that do not mention 'politics' in their title, body,
        or tags.<br><br>
    </script>

    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/vuex-logger.js"></script>

    <script src="js/app-2.js"></script>

    <script src="js/asciinema-player.js"></script>
    <script src="js/showdown.min.js"></script>
  </body>
</html>
